*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-container{
    background: #ddd;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.card-container{
    min-width: 400px;
    max-height: 650px;
    max-width: calc(650px);
    /* background: #fff; */
    display: flex;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    overflow-y: scroll;
}

.card{
    min-width: 350px;
    padding: 10px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    min-height: 220px;
}

.card-seperate{
    flex-basis: 50%;
    position: relative;
    height: 200px;
}

.card-image{
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image img{
    max-height: 200px;
    max-width: 100%;
}

.card-title{
    font-size: 24px;
    padding: 10px;
    color: #3a3a3a;
    font-family: sans-serif;
    font-weight: 600;
}

.card-description{
    padding: 10px;
    max-width: 300px;
}

.read-more{
    padding: 10px;
    border-radius: 20px;
    background: #3a3a3a3c;
    position: absolute;
    right:  0px;
    bottom: 0px;
    color: #000;
    cursor: pointer;
}